[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
autopep8 = "*"
coverage = "*"
twine = "*"
setuptools = "*"
pylint = "*"

[packages]
redis = "*"
pyyaml = "*"

[requires]
python_version = "3.8"
